.main--container{
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}

.section--middle{
    flex: 1;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    justify-content: space-around;
}

.section--left, .section--right{
    width: 300px;
    height: 2000px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.section--left{
    background-color: lightcoral;
    border-right: solid 4px lightgray;
}

.section--right{
    background-color: aquamarine;
    border-left: solid 4px lightgray;
}

.news--container, .events--container {
    height: 50%;
    text-align: center;
    padding-top: 20px;
}

.news--container {
    border-top: solid 4px lightgray;
}