.articles{
    padding: 10px;
}

.article{
    background-color: greenyellow;
    padding: 10px;
    border: 1px dotted black;
    margin: 15px;
}

.article--title {
    font-weight: bolder;
    font-size: larger;
}

.article--synopsis {
    font-weight: lighter;
}

.articleForm {
    background-color: bisque;
}

.article--title > a:hover {
    text-decoration: none;
    color: blue;
}

.article--tags {
    font-weight: lighter;
}

.article--delete {
    background-color: red;
    color: white;
    font-size: small;
}