{
  "users": [{ "id": 1, "username": "Steve", "email": "me@me.com" }],
  "articles": [],
  "messages": [{ "id": 1, "userId": 1, "message": "What's up?" }],
  "events": [],
  "tasks": [],
  "images": [],
  "friends": []
}
